<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include common/required.html %>

    <script type='text/javascript' src='/javascripts/menu.model.js'></script>
    <script type='text/javascript' src='/javascripts/menu.view.js'></script>
    <script type='text/javascript' src='/javascripts/searcher.model.js'></script>
    <script type='text/javascript' src='/javascripts/searcher.view.js'></script>

    <script src="/javascripts/user/user.js"></script>
    <script src="/javascripts/user/useredit.view.js"></script>
    <script src="/javascripts/user/user.model.js"></script>

    <link rel="stylesheet" href="/stylesheets/usereditor.css">

  </head>
  <body>
    
    <% include common/navbar.html %>
    
    <section>

      <div id="maincontents" class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab"><%= i('user.tab.basicInfo') %></a></li>
          <li><a href="#2" data-toggle="tab"><%= i('user.tab.detailInfo') %></a></li>
          <li><a href="#3" data-toggle="tab"><%= i('user.tab.changePhoto') %></a></li>
          <li><a href="#4" data-toggle="tab"><%= i('user.tab.changePwd') %></a></li>
          <!--li><a href="#5" data-toggle="tab">设置</a></li-->
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <fieldset>
              <legend><%= i('user.tab.basicInfo') %></legend>
              <div>
                <label for="user-name"><%= i('user.info.name.name_zh') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-name"></div>
              </div>
              <div>
                <label for="user-name"><%= i('user.info.name.letter_zh') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-last"></div>
              </div>
              <div>
                <label for="user-title"><%= i('user.info.title') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-title"></div>
              </div>
              <div>
                <label for="user-telephone"><%= i('user.info.mobile') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-telephone"></div>
              </div>
              <div>
                <label for="user-email"><%= i('user.info.email') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-email"></div>
              </div>
              <div>
                <label for="textarea"><%= i('user.info.summary') %>：</label>
                <div><textarea class="input-xlarge" id="user-memo" rows="3"></textarea></div>
              </div>
            </fieldset>
          </div>

          <div class="tab-pane" id="2">
            <fieldset>
              <legend><%= i('user.tab.detailInfo') %></legend>
              <div>
                <label for="input01"><%= i('user.info.address') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-address"></div>
              </div>
              <div>
                <label for="input01"><%= i('user.info.birthday') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-birthday"></div>
              </div>
              <div>
                <label for="input01"><%= i('user.info.language') %>：</label>
                <div>
                  <select name="user-language" id="user-language">
                    <option value="zh"><%= i('user.info.language.zh') %></option>
                    <option value="en"><%= i('user.info.language.en') %></option>
                    <option value="ja"><%= i('user.info.language.ja') %></option>
                  </select>
                </div>
              </div>
              <div>
                <label for="input01"><%= i('user.info.timezone') %>：</label>
                <div>
                  <select name="user-timezone" id="user-timezone" style="width:85%">
                    <option value="GMT+08:00"><%= i('user.info.timezone.+0800') %></option>
                    <option value="GMT-05:00"><%= i('user.info.timezone.-0500') %></option>
                    <option value="GMT+09:00"><%= i('user.info.timezone.+0900') %></option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="tab-pane" id="3">
            <legend><%= i('user.tab.changePhoto') %></legend>

            <div id="photoDiv" style="float:left">
                <div style="width:300px;" draggable="false" id="jcropDiv">
                 <img src="/images/user.png" id="jcropPhoto">
                </div>
                <img src="/images/user.png" id="realPhoto" style="display:none;max-width:none;">
                <div id="operators">
                  <a id="selectFile" class="btn"><%= i('user.option.selectPhoto') %></a>
                  <input type="file" id="uploadfile" style="display: none" accept="image/*" />
                  <input type="hidden" id="jcropData"/>
                </div>
            </div>

            <hr width="1" size="300" color="#e5e5e5" style="float:left;margin-left:30px">
            
            <div id="preview" style="float:left;margin-left:30px">
              <div id="preview-small">
                <img src="/images/user.png" id="smallPhoto" style="width:30px;height:30px">
              </div>
              <div id="preview-middle">
                <img src="/images/user.png" id="middlePhoto" style="width:50px;height:50px">
              </div>
              <div id="preview-big">
                <img src="/images/user.png" id="bigPhoto" style="width:180px;height:180px">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="4">
            <fieldset>
              <legend><%= i('user.tab.changePwd') %></legend>
              <div>
                <label for="input01"><%= i('user.info.currentPwd') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-pwd"></div>
                <label for="input01"><%= i('user.info.newPwd') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-pwd1"></div>
                <label for="input01"><%= i('user.info.newPwd2') %>：</label>
                <div><input type="text" class="input-xlarge" id="user-pwd2"></div>
              </div>
            </fieldset>
          </div>

          <div class="tab-pane" id="5">
            <fieldset>
              <legend><!--设置--><%= i('usereditor.setting.label.set') %></legend>
              <div>
                <label for="input01"><!--通知设定：--><%= i('usereditor.setting.label.notice') %></label>
                <div><input type="text" class="input-xlarge" id="user-name"></div>
              </div>
              <div>
                <label for="input01"><!--共享设定：--><%= i('usereditor.setting.label.share') %></label>
                <div><input type="text" class="input-xlarge" id="user-name"></div>
              </div>
              <div>
                <label for="input01"><!--安全：--><%= i('usereditor.setting.label.safe') %></label>
                <div><input type="text" class="input-xlarge" id="user-name"></div>
              </div>
              <div>
                <label for="input01"><!--禁止：--><%= i('usereditor.setting.label.forbid') %></label>
                <div><input type="text" class="input-xlarge" id="user-name"></div>
              </div>
            </fieldset>
          </div>
        </div>

        <div id="operators">
          <a id="btn-save" class="btn btn-primary"><%= i('user.option.save') %></a>
          <a id="cancel" class="btn"><%= i('user.option.cancel') %></a>
        </div>

      </div>

      <footer>
        <p>Copyright © 2012, Cross Corporation. All Rights Reserved.</p>
      </footer>
    </section>

  </body>
</html>
