/* 选择消息类型的工具条 */
ul.messageType {
  display: table;
  margin: 0 0 0px 0;
  /*-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px;*/

}
ul.messageType li {
  -webkit-border-radius: 6px;
  text-align: center;
  pointer: cursor;
  display: table-cell;
  white-space: nowrap;
  width: 80px;
  /*height: 30px;*/

  /*background-color: #eee;*/

}
ul.messageType li a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
  position: relative;
}
ul.messageType li i:hover {
  color: #b561de;
}
/* 用户选择框 */
.users {
  display: inline-block;
  background-color: white;
  width: 100%;
  /*    border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
*/

  border-top: 1px solid #EEE;
  padding: 0;
  /*margin-bottom: 5px;*/

}
.users ol {
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.users li {
  display: inline-block;
  vertical-align: baseline;
  margin: 2px;
  white-space: nowrap;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ebebeb));
  border: 1px solid #CCC;
  padding: 0;
}
.users li span {
  display: inline-block;
  border-right: 1px solid #ccc;
  color: #39c;
  padding: 6px 4px 6px 6px;
  line-height: 10px;
  vertical-align: middle;
  margin: 0;
}
.users li a {
  line-height: 1px;
  margin: 0 3px 0 0;
}
.users input {
  outline: none;
  height: 30px;
  width: 150px;
  margin: 0;
  border: 0px;
  background-color: white;
  padding: 0;
  padding-left: 5px;
}
.users input::-webkit-input-placeholder {
  text-indent: 3px;
  text-shadow: none;
  font-size: 12px;
}
/* 消息框 */
div.textBox {
  /*-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px;*/

  border: 1px solid #000;
  /*display: none;*/

}
div.imageBox {
  /*-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px;*/

  border: 1px solid #000;
  /*display: inline-block*/
  display: none;
}
div.imageBox .image {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  border: 1px dotted #999;
  width: 263px;
}
div.imageBox .image img {
  width: 100%;
}
div.imageBox .image .trash {
  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
div.imageBox .selector {
  width: 534px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 6px;
}
div.imageBox .first {
  width: 534px;
}
div.fileBox {
  /*-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 2px;*/

  border: 1px solid #000;
  display: none;
}
div.fileBox .file {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  border: 1px dotted #999;
  width: 127px;
}
div.fileBox .selector {
  height: 127px;
  line-height: 127px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 6px;
}
div.videoBox {
  border: 1px solid #000;
  display: none;
}
div.videoBox .video {
  text-align: center;
  margin-top: 5px;
}
div.videoBox .selector {
  width: 534px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border: 1px dotted #999;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
div.documentBox {
  border: 1px solid #000;
  display: none;
}
div.documentBox .document {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  border: 1px dotted #999;
  width: 127px;
}
div.documentBox .selector {
  height: 127px;
  line-height: 127px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 6px;
}
textarea.comment {
  width: 536px;
  resize: none;
  -webkit-border-radius: 0px;
  border: 0;
  height: auto;
  margin: 0;
}
hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
/* 发布，取消按钮 */
div.publish {
  padding-top: 5px;
  width: 100%;
  text-align: right;
  /* 公开范围 */

}
div.publish .scope {
  position: absolute;
  min-width: 160px;
  top: 270px;
  left: 700px;
  z-index: 1;
  float: left;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
div.publish .scope li {
  line-height: 20px;
}
div.publish .scope li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}
div.publish .scope li a:hover {
  color: #fff;
  background-color: #0088cc;
  cursor: pointer;
}
div.publish .scope .divider {
  height: 1px;
  margin: 3px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.reply {
  width: 474px;
  height: 16px;
  font-size: 12px;
  border: 1px solid #EEE;
  outline: none;
  padding-left: 3px;
  padding-bottom: 2px;
}
.messages-toggle {
  clear: both;
  padding-top: 10px;
  text-align: center;
}
.messages-toggle .setting {
  font-size: 24px;
  padding: 4px 6px;
  text-decoration: none;
  color: #b9b9b9;
}
#messages-container {
  width: 550px;
}
.message-info {
  font-size: 12px;
}
.message {
  clear: right;
}
.message {
  /* 消息头像 */

  /* 消息正文 */

  /* 消息评论 */

  /* 消息之间的分割线 */

}
.message .message-face {
  float: left;
}
.message .message-content {
  margin-left: 60px;
  width: 480px;
  word-wrap: break-word;
}
.message .reply-area {
  margin-left: 60px;
  margin-right: 10px;
  padding: 15px 15px 0px;
  border: 1px solid #E5E5E5;
  /* 评论箭头 */

  /* 新建评论 */

  /* pager */

}
.message .reply-area .reply-angle {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  font-size: 0;
  background: white;
  border-left: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  top: -20px;
  left: 447px;
}
.message .reply-area .diamond {
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand');
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.message .reply-area .create-reply .create-reply-to strong {
  margin: 0px 4px;
}
.message .reply-area .create-reply .create-reply-to a {
  color: black;
  text-decoration: none;
}
.message .reply-area .create-reply .create-reply-content {
  width: 436px;
}
.message .reply-area .create-reply a {
  margin-bottom: 5px;
}
.message .reply-area .reply {
  margin-bottom: 0px;
  /* 评论头像 */

  /* 评论正文 */

}
.message .reply-area .reply .reply-face {
  float: left;
}
.message .reply-area .reply .reply-content {
  margin-left: 40px;
  width: 396px;
  word-wrap: break-word;
}
.message .reply-area .reply .reply-content p {
  margin: 0px;
}
.message .reply-area .replies-pagination .pager {
  margin: 10px 0px;
}
.message .reply-area .replies-pagination .pager li a {
  padding: 2px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.message hr {
  margin: 10px 0px;
}
/* pager */
.messages-pagination .pager {
  margin: 0px 0px;
}
.messages-pagination .pager li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* 图片缩略 */
/*
<div class="gallery">
  <ul id="message-attach" >
  </ul>
</div>
*/
.gallery {
  margin: 0;
  padding: 0;
}
.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  height: 30px;
  width: 542px;
}
.gallery li {
  float: right;
  width: 32px;
  height: 24px;
  margin: 0 7px 0 0;
  border: 3px solid #EEE;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 3px 3px 3px #BBB;
  -webkit-transform: scale(1) rotate(8deg) translate(-6px, -3px);
}
.gallery li img {
  width: 32px;
  height: 24px;
  z-index: 11;
}
.gallery li a img {
  margin-left: 7px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 16px;
  width: 21px;
  height: 21px;
  z-index: 9;
}
