    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
    <input type="hidden" id="bright" name="bright" value="<%= bright %>" />
    <input type="hidden" id="userid" name="userid" value="<%= user._id %>" />
    <input type="hidden" id="timezone" name="timezone" value="<%= user.timezone %>" />


    <style type="text/css">
      .dl-horizontal dt { width: 32px; }
      .dl-horizontal dd { margin-left: 40px; }
    </style>

    <script type='text/javascript'>
      var i18n = "<%= i18n %>";
      i18n = i18n.replace(/'/g,"\"");
      i18n = JSON.parse(i18n);
    </script>


    <header>
      <strong>Cross</strong>
      <div id="_userbox">
        <div>
          <a href="/user" id="_userpic"><img src="<%= user.photo ? '/picture/' + user.photo.big : '/images/user.png' %>"></a>
          <a href="/user" id="_username"><%= user.name.name_zh %></a> 
        </div>
        <ul>
          <li><a href="/usereditor" id="_user"><i class="icon-wrench"></i></a></li>
          <li><a href="/simplelogout" id="_logout"><i class="icon-signout"></i></a></li>
        </ul>
      </div>
    </header>
    <div id="_navbar">
      <nav>
        <ul id="_group1" rel="sam">
          <li>
            <a id="home" href="/home" style="font-size: 16px;">
              <i class="icon-home icon-large"></i>
            </a>
          </li>
          <li>
            <a id="shortmail" href="/shortmail" style="font-size: 16px;">
              <i class="icon-envelope icon-large"></i>
            </a>
            <span id="_shortmail" class="label label-important"></span>
          </li>
          <li>
            <a id="notice" href="/notice" style="font-size: 16px;">
              <i class="icon-bell icon-large"></i>
            </a>
            <span id="_notice" class="label label-important"></span>
          </li>
        </ul>
      </nav>
      <nav id="_search">
        <input id="search" value="" x-webkit-speech /><div></div>
      </nav>
      <nav>
        <ul id="_group2" rel="sam">
          <li>
            <a id="message" href="/message" style="font-size: 12px;"><%= i('navbar.menu.message')%></a>
          </li>
          <li><a id="group" href="/group"><%= i('navbar.menu.group')%></a></li>
          <li><a id="user" href="/user"><%= i('navbar.menu.user')%></a></li>
          <li><a id="files" href="/files"><%= i('navbar.menu.file')%></a></li>
          <li class="hidden">
            <a id="apps" href="#"><%= i('navbar.menu.apps')%></a>
            <ul id="subapps">
              <li><a id="user" href="/task"><i class="icon-tasks icon-large"></i><%= i('navbar.menu.task')%></a></li>
              <li><a id="category" href="/category"><i class="icon-tags icon-large"></i><%= i('navbar.menu.category')%></a></li>
              <li><a id="meeting" href="/meeting"><i class="icon-signin icon-large"></i><%= i('navbar.menu.conference')%></a></li>
              <li><a id="topic" href="/topic"><i class="icon-comments-alt icon-large"></i><%= i('navbar.menu.topic')%></a></li>
              <li><a id="process" href="/process"><i class="icon-retweet icon-large"></i><%= i('navbar.menu.process')%></a></li>
              <li><a id="calendar" href="/calendar"><i class="icon-calendar icon-large"></i><%= i('navbar.menu.calendar')%></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div id="_searchresult" class="bucketed">
      <ul class="search">
        <li class="bottom"><i class="icon-search"></i><%= i('navbar.search.moreResult')%></li>
      </ul>
    </div>

    <div id="_findresult" style="z-index: 100000000000000000000000; ">
      <ul class="search">
        <li class="bottom"><i class="icon-search"></i><%= i('navbar.search.moreResult')%></li>
      </ul>
    </div>

    <div id="_popover"></div>

    <!-- 发私信用对话框 -->
    <div id="_privatemsg"
        class="modal" 
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
        style="display: none; width: 560px;">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><i class='icon-envelope-alt'></i>&nbsp;<%= i('shortmail.message.sentMsg')%></h3>
      </div>
      <div class="modal-body">
        <textarea id="_privatemsg_txt" style="width: 510px; height: 70px;"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= i('shortmail.option.cancel')%></button>
        <button class="btn btn-primary" id="_privatemsg_send"><%= i('shortmail.option.sent')%></button>
      </div>
    </div>

    <!-- 全文检索框 -->
    <script type="text/template" id="_searchresult-user-template">
    <li class="user">
      <div class="left">
        <a href="/user/{{ id }}">
          <img src="{{ photo }}" />
          <span>{{ name }}</span>
          <span class="addition">{{ addition }}</span>
        </a>
      </div>
      <div class="right">
        <a uid="{{ id }}" class="operation btn btn-small btn-info" href="#"><%= i('shortmail.option.privateMsg')%></a>
      </div>
    </li>
    </script>
    <script type="text/template" id="_searchresult-group-template">
    <li class="user">
      <div class="left">
        <a href="/group/{{ id }}">
          <img src="{{ photo }}" />
          <span>{{ name }}</span>
          <span class="addition">{{ addition }}</span>
        </a>
      </div>
      <div class="right hidden">
        <a gid="{{ id }}" class="operation btn btn-small btn-info" href="#"><%= i('group.grouplist.button.join')%></a>
      </div>
    </li>
    </script>
    <script type="text/template" id="_searchresult-file-template">
    <li class="user">
      <div class="left">
        <a href="/file/{{ id }}">
          <img src="{{ photo }}" />
          <span>{{ name }}</span>
          <span class="addition">{{ addition }}</span>
        </a>
      </div>
      <div class="right hidden">
        <a fid="{{ id }}" class="operation btn btn-small btn-info" href="#"><%= i('file.option.follow')%></a>
      </div>
    </li>
    </script>
    <script type="text/template" id="_searchresult-header-template">
    <li class="header">{{ type }}</li>
    </script>
    <script type="text/template" id="_searchresult-bottom-template">
    <li class="bottom">
      <a href="/fulltextsearch/result?keywords={{ keywords }}"><i class="icon-search"></i><%= i('navbar.search.moreResult')%></a>
    </li>
    </script>

    <!-- 用户检索 -->
    <script type="text/template" id="_findresult-template">
    <li class="user">
      <a uid="{{ id }}" uname="{{ name }}" type="{{ type }}">
        <img src="{{ photo }}" />
        <span>{{ name }}</span>
        <span class="addition">{{ addition }}</span>
      </a>
    </li>
    </script>

    <!-- 私信 -->
    <script type="text/template" id="_shortmail-template">
    <div class="arrow"></div>
    <h3 class="title"><i class="icon-envelope-alt"></i>{{title}}</h3>
    <div class="content">
      <ul>
        <$ _.each(rows, function(row){ $>
        <li>
          <a href="/shortmail/{{ row.uid }}">
             <$ if (row.photo.big) { $>
            <img src="/picture/{{ row.photo.big }}">
            <$} else {$>
            <img src="/images/user.png">
            <$}$>
            <span>{{ row.user }}</span>
            <span class="addition">{{ row.message }}</span>
          </a>
        </li>
        <$ }); $>
        <$ if (rows.length > 0) { $>
        <li class="divider"></li>
        <$ } $>
        <li><a href="/shortmail"><%= i('navbar.search.more')%></a></li>
      </ul>
    </div>
    </script>

    <!-- 通知 -->
    <script type="text/template" id="_notice-template">
    <div class="arrow"></div>
    <h3 class="title"><i class="icon-envelope-alt"></i>{{title}}</h3>
    <div class="content">
      <ul>
        <$ _.each(rows, function(row){ $>
        <li class="notice-item" data="{{ row.objectid }}" type="{{ row.type }}" nid="{{ row._id }}">
        <$ if (row.type == "follow") { $>
          <a href="#">
        <$ } else { $>
          <a href="#">
        <$ } $>
            <$ if (row.user.photo && row.user.small) { $>
            <img src="/picture/{{ row.user.photo.small }}">
            <$} else {$>
            <img src="/images/user.png">
            <$}$>
            <span>{{ row.user.name.name_zh}}</span>
            <$if(row.type == "invite"){ $>
              <span class="addition"><%= i('notifiction.label.sinvite')%>{{ row.content }}#</span>
              <!--我被加入#-->
            <$} else if(row.type == "remove") {$>
              <span class="addition"><%= i('notifiction.label.sremove')%>{{ row.content }}
              <%= i('notifiction.label.eremove')%></span>
              <!--我被# #移除  -->
            <$} else if(row.content.length == 0) {$>
              <span class="addition"><!-- 有一条新消息 --><%= i('notifiction.label.newmsg')%></span>
            <$} else { $>
              <span class="addition">{{ row.content }}</span>
            <$} $>
          </a>
        </li>
        <$ }); $>
        <$ if (rows.length > 0) { $>
        <li class="divider"></li>
        <$ } $>
        <li><a href="/notice/at"><%= i('navbar.search.more')%></a></li>
      </ul>
    </div>
    </script>

    <!-- 消息框 -->
    <script type="text/template" id="alert-template">
    <div id="_alert" class="{{ type }}">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>{{ title }}</strong>
      {{ message }}
    </div>
    </script>

    <script type="text/template" id="page-template">
      <li class="{{classname}}" style="display:{{dis}};float:left"><a href="javascript://" id="page_{{page}}">{{content}}</a></li>
    </script>

