<aside id="sidemenu">

	<ul>	
	<li><a id="users" href="#" class="group"><!--分类--><%= i('message.list.sidemenu.category') %></a></li>
		<li>
			<ul>	
				<li><a id="" href="/notice/at"><!--提到我的--><%= i('message.list.sidemenu.replymemsg') %></a></li>
				<li><a id="" href="/notice/comment"><!--评论我的--><%= i('message.list.sidemenu.atmemsg') %></a></li>
				<li><a id="" href="/notice/box"><!--我发出的评论--><%= i('message.list.sidemenu.outcomment') %></a></li>
				<li><a id="" href="/notice/follow"><!--关注我的--><%= i('message.list.sidemenu.followmsg') %></a></li>
				<li><a id="" href="/notice/group"><!--邀请/移除--><%= i('message.list.sidemenu.joingroupmsg') %></a></li>	
						
			</ul>
		</li>

	
	<li><a id="" href="#"></a></li>

	<ul>
</aside>